  <div class="col-12 px-5 form-group">
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-12 col-md-10">
        <div class="accordion" id="accordionExample">
          {{!-- building amenities --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Building Amenities
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-sm-6 mb-4">
                    <h4>Pets</h4>
                    <hr>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[pets_allowed]=true" id="pets_allowed">
                      <label class="custom-control-label" for="pets_allowed">Pets Allowed</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 mb-4">
                    <h4>Outdoor</h4>
                    <hr>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[roof]=true" id="roof">
                      <label class="custom-control-label" for="roof">Roof Access</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[courtyard]=true" id="courtyard">
                      <label class="custom-control-label" for="courtyard">Courtyard</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <h4>Features</h4>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[concierge]=true" id="concierge">
                      <label class="custom-control-label" for="concierge">Concierge</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[doorman]=true" id="doorman">
                      <label class="custom-control-label" for="doorman">Doorman</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[elevator]=true" id="elevator">
                      <label class="custom-control-label" for="elevator">Elevator</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[laundry]=true" id="laundry">
                      <label class="custom-control-label" for="laundry">Laundry</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[children_playroom]=true" id="children_playroom">
                      <label class="custom-control-label" for="children_playroom">Children's Playroom</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[gym]=true" id="gym">
                      <label class="custom-control-label" for="gym">Gym</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[media_room]=true" id="media_room">
                      <label class="custom-control-label" for="media_room">Media Room</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[recreation_room]=true" id="recreation_room">
                      <label class="custom-control-label" for="recreation_room">Recreation Room</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[swimming_pool]=true" id="swimming_pool">
                      <label class="custom-control-label" for="swimming_pool">Swimming Pool</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[live_in_super]=true" id="live_in_super">
                      <label class="custom-control-label" for="live_in_super">Live-in Super</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[smoke-free]=true" id="smoke-free">
                      <label class="custom-control-label" for="smoke-free">Smoke-free</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[wheelchair_access]=true" id="wheelchair_access">
                      <label class="custom-control-label" for="wheelchair_access">Wheelchair Access</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[garage_parking]=true" id="garage_parking">
                      <label class="custom-control-label" for="garage_parking">Garage Parking</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[valet_parking]=true" id="valet_parking">
                      <label class="custom-control-label" for="valet_parking">Valet Parking</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[bike_room]=true" id="bike_room">
                      <label class="custom-control-label" for="bike_room">Bike Room</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[cold_storage]=true" id="cold_storage">
                      <label class="custom-control-label" for="cold_storage">Cold Storage</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[locker_cage]=true" id="locker_cage">
                      <label class="custom-control-label" for="locker_cage">Locker Cage</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[package_room]=true" id="package_room">
                      <label class="custom-control-label" for="package_room">Package Room</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- neighborhoods --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Neighborhood
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <div class="accordion" id="accordionExample">
                  <div class="row">
                    <div class="col-12 mb-2 brooklyn">
                      <h4 class="neighborhood-heading">
                        Brooklyn
                      </h4>
                      <hr>
                    </div>
                    {{#each brooklyn as |brooklyn|}}
                    <div class="col-12 mb-2 px-0 brooklyn-neighborhoods hide">
                      <div class="custom-control custom-checkbox mb-1">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{brooklyn.neighborhood}}" id="{{brooklyn.neighborhood}}"/>
                        <label class="custom-control-label w-100" for="{{brooklyn.neighborhood}}">{{brooklyn.neighborhood}}</label>
                      </div>
                      {{#if brooklyn.sub_neighborhood}}
                      {{#each brooklyn.sub_neighborhood as |sub|}}
                      <div class="custom-control custom-checkbox ml-4">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{sub.name}}" id="{{sub.name}}"/>
                        <label class="custom-control-label w-100" for="{{sub.name}}">{{sub.name}}</label>
                      </div>
                      {{/each}}
                      {{/if}}
                      <hr>
                    </div>
                    {{/each}}
                  </div>
                  <div class="row">
                    <div class="col-12 mb-2 bronx">
                      <h4 class="neighborhood-heading">
                        Bronx
                      </h4>
                      <hr>
                    </div>
                    {{#each bronx as |bronx|}}
                    <div class="col-12 mb-2 px-0 bronx-neighborhoods hide">
                      <div class="custom-control custom-checkbox mb-1">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{bronx.neighborhood}}" id="{{bronx.neighborhood}}"/>
                        <label class="custom-control-label w-100" for="{{bronx.neighborhood}}">{{bronx.neighborhood}}</label>
                      </div>
                      {{#if bronx.sub_neighborhood}}
                      {{#each bronx.sub_neighborhood as |sub|}}
                      <div class="custom-control custom-checkbox ml-4">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{sub.name}}" id="{{sub.name}}"/>
                        <label class="custom-control-label w-100" for="{{sub.name}}">{{sub.name}}</label>
                      </div>
                      {{/each}}
                      {{/if}}
                      <hr>
                    </div>
                    {{/each}}
                  </div>
                  <div class="row">
                    <div class="col-12 mb-2 manhattan">
                      <h4 class="neighborhood-heading">
                        Manhattan
                      </h4>
                      <hr>
                    </div>
                    {{#each manhattan as |manhattan|}}
                    <div class="col-12 mb-2 px-0 manhattan-neighborhoods hide">
                      <h5 class="ml-4">{{manhattan.area}}</h5>
                      <hr>
                      {{#if manhattan.neighborhood}}
                      {{#each manhattan.neighborhood as |neighborhood|}}
                      <div class="custom-control custom-checkbox ml-4">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{neighborhood.name}}" id="{{neighborhood.name}}"/>
                        <label class="custom-control-label w-100" for="{{neighborhood.name}}">{{neighborhood.name}}</label>
                      </div>
                      {{#each neighborhood.sub_neighborhood as |sub|}}
                      <div class="custom-control custom-checkbox ml-5">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{sub.name}}" id="{{sub.name}}"/>
                        <label class="custom-control-label w-100" for="{{sub.name}}">{{sub.name}}</label>
                      </div>
                      {{/each}}
                      <hr>
                      {{/each}}
                      {{/if}}
                    </div>
                    {{/each}}
                  </div>
                  <div class="row">
                    <div class="col-12 mb-2 queens">
                      <h4 class="neighborhood-heading">
                        Queens
                      </h4>
                      <hr>
                    </div>
                    {{#each queens as |queens|}}
                    <div class="col-12 mb-2 px-0 py-2 queens-neighborhoods hide">
                      <div class="custom-control custom-checkbox mb-1">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{queens.neighborhood}}" id="{{queens.neighborhood}}"/>
                        <label class="custom-control-label w-100" for="{{queens.neighborhood}}">{{queens.neighborhood}}</label>
                      </div>
                      {{#if queens.sub_neighborhood}}
                      {{#each queens.sub_neighborhood as |sub|}}
                      <div class="custom-control custom-checkbox ml-4">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{sub.name}}" id="{{sub.name}}"/>
                        <label class="custom-control-label w-100" for="{{sub.name}}">{{sub.name}}</label>
                      </div>
                      {{/each}}
                      {{/if}}
                      <hr>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  