{{#each buildings as |building|}}
<div class="row p-4 mx-5 mgmt-row">
  <div class="col-12 d-flex justify-content-between">
    <div class="d-flex flex-column mgmt-link">
      <a href="/buildings/{{building.id}}">
        <h3 class="card-title unit-num m-0">{{building.street_address}}</h3>
        <h3 class="card-title unit-num m-0">{{building.neighborhood}}, {{building.city}}</h3>
      </a>
    </div>
    <div class="specs">
        <span>Available Units:</span>
        <span>{{array_length building.units}}</span>
    </div>
  </div>
</div>
{{/each}}