  <div class="col-12 px-5 form-group">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-4">
        <label for="min_rent">Min Rent</label>
        <div class="d-flex align-items-baseline">
          <span class="dollar">$</span>
          <input type="number" class="form-control" id="min_rent" name="gte" placeholder="">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <label for="max_rent">Max Rent</label>
        <div class="d-flex align-items-baseline">
          <span class="dollar">$</span>
          <input type="number" class="form-control" id="max_rent" name="lte" placeholder="">
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-12 col-md-10">
        <div class="accordion" id="accordionExample">
          {{!-- bedrooms --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Bedrooms
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=1]" id="BR1" />
                      <label class="custom-control-label" for="BR1">1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=2]" id="BR2"/>
                      <label class="custom-control-label" for="BR2">2</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=3]" id="BR3"/>
                      <label class="custom-control-label" for="BR3">3</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=4]" id="BR4"/>
                      <label class="custom-control-label" for="BR4">4</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=5]" id="BR5"/>
                      <label class="custom-control-label" for="BR5">5</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=6]" id="BR6"/>
                      <label class="custom-control-label" for="BR6">6</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=7]" id="BR7"/>
                      <label class="custom-control-label" for="BR7">7</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[legal_beds=8]" id="BR8"/>
                      <label class="custom-control-label" for="BR8">8</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- bathrooms --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Bathrooms
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h4>Full Baths</h4>
                    <hr>
                  </div>
                  <div class="col-6">
                    <h4>Half Baths</h4>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-6">
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[full_bath]=1" id="full_bath1"/>
                          <label class="custom-control-label" for="full_bath1">1</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[full_bath]=2" id="full_bath2"/>
                          <label class="custom-control-label" for="full_bath2">2</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[full_bath]=3" id="full_bath3"/>
                          <label class="custom-control-label" for="full_bath3">3</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[full_bath]=4" id="full_bath4"/>
                          <label class="custom-control-label" for="full_bath4">4</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-6">
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[half_bath]=1" id="half_bath1"/>
                          <label class="custom-control-label" for="half_bath1">1</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[half_bath]=2" id="half_bath2"/>
                          <label class="custom-control-label" for="half_bath2">2</label>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[half_bath]=3" id="half_bath3"/>
                          <label class="custom-control-label" for="half_bath3">3</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input name='searchElement' class="custom-control-input" type="checkbox" value="unit[half_bath]=4" id="half_bath4"/>
                          <label class="custom-control-label" for="half_bath4">4</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- unit amenities --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Unit Amenities
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h4>Furnished</h4>
                    <hr>
                  </div>
                  <div class="col-6">
                    <h4>Outdoor</h4>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[furnished]=true" id="furnished">
                      <label class="custom-control-label" for="furnished">Furnished</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[balcony]=true" id="balcony">
                      <label class="custom-control-label" for="balcony">Balcony</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[garden]=true" id="garden">
                      <label class="custom-control-label" for="garden">Garden</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[private_roof]=true" id="private_roof">
                      <label class="custom-control-label" for="private_roof">Private Roof</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[roof_rights]=true" id="roof_rights">
                      <label class="custom-control-label" for="roof_rights">Roof Rights</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[terrace]=true" id="terrace">
                      <label class="custom-control-label" for="terrace">Terrace</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-6">
                    <h4>Features</h4>
                    <hr>
                  </div>
                  <div class="col-6">
                    <h4>Views</h4>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[central_air]=true" id="central_air">
                      <label class="custom-control-label" for="central_air">Central Air</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[dishwasher]=true" id="dishwasher">
                      <label class="custom-control-label" for="dishwasher">Dishwasher</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[fireplace]=true" id="fireplace">
                      <label class="custom-control-label" for="fireplace">Fireplace</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[hardwood_floors]=true" id="hardwood_floors">
                      <label class="custom-control-label" for="hardwood_floors">Hardwood Floors</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[washer_dryer]=true" id="washer_dryer">
                      <label class="custom-control-label" for="washer_dryer">Washer/Dryer</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[city_view]=true" id="city_view">
                      <label class="custom-control-label" for="city_view">City View</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[garden_view]=true" id="garden_view">
                      <label class="custom-control-label" for="garden_view">Garden View</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[park_view]=true" id="park_view">
                      <label class="custom-control-label" for="park_view">Park View</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[skyline_view]=true" id="skyline_view">
                      <label class="custom-control-label" for="skyline_view">Skyline View</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="unitAmenities[water_view]=true" id="water_view">
                      <label class="custom-control-label" for="water_view">Water View</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- building amenities --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Building Amenities
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <h4>Pets</h4>
                    <hr>
                  </div>
                  <div class="col-6">
                    <h4>Outdoor</h4>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[pets_allowed]=true" id="pets_allowed">
                      <label class="custom-control-label" for="pets_allowed">Pets Allowed</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[roof]=true" id="roof">
                      <label class="custom-control-label" for="roof">Roof Access</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[courtyard]=true" id="courtyard">
                      <label class="custom-control-label" for="courtyard">Courtyard</label>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <h4>Features</h4>
                    <hr>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[concierge]=true" id="concierge">
                      <label class="custom-control-label" for="concierge">Concierge</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[doorman]=true" id="doorman">
                      <label class="custom-control-label" for="doorman">Doorman</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[elevator]=true" id="elevator">
                      <label class="custom-control-label" for="elevator">Elevator</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[laundry]=true" id="laundry">
                      <label class="custom-control-label" for="laundry">Laundry</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[children_playroom]=true" id="children_playroom">
                      <label class="custom-control-label" for="children_playroom">Children's Playroom</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[gym]=true" id="gym">
                      <label class="custom-control-label" for="gym">Gym</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[media_room]=true" id="media_room">
                      <label class="custom-control-label" for="media_room">Media Room</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[recreation_room]=true" id="recreation_room">
                      <label class="custom-control-label" for="recreation_room">Recreation Room</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[swimming_pool]=true" id="swimming_pool">
                      <label class="custom-control-label" for="swimming_pool">Swimming Pool</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[live_in_super]=true" id="live_in_super">
                      <label class="custom-control-label" for="live_in_super">Live-in Super</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[smoke-free]=true" id="smoke-free">
                      <label class="custom-control-label" for="smoke-free">Smoke-free</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[wheelchair_access]=true" id="wheelchair_access">
                      <label class="custom-control-label" for="wheelchair_access">Wheelchair Access</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[garage_parking]=true" id="garage_parking">
                      <label class="custom-control-label" for="garage_parking">Garage Parking</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[valet_parking]=true" id="valet_parking">
                      <label class="custom-control-label" for="valet_parking">Valet Parking</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[bike_room]=true" id="bike_room">
                      <label class="custom-control-label" for="bike_room">Bike Room</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[cold_storage]=true" id="cold_storage">
                      <label class="custom-control-label" for="cold_storage">Cold Storage</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[locker_cage]=true" id="locker_cage">
                      <label class="custom-control-label" for="locker_cage">Locker Cage</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" name='searchElement' value="buildingAmenities[package_room]=true" id="package_room">
                      <label class="custom-control-label" for="package_room">Package Room</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- neighborhoods --}}
          <div class="card">
            <div class="card-header collapse-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link collapse-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Neighborhood
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <div class="accordion" id="accordionExample">
                  <div class="row">
                    {{#each brooklyn as |brooklyn|}}
                    <div class="col-6 mb-2 p3">
                      <div class="custom-control custom-checkbox mb-1">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{brooklyn.neighborhood}}" id="{{brooklyn.neighborhood}}"/>
                        <label class="custom-control-label" for="{{brooklyn.neighborhood}}">{{brooklyn.neighborhood}}</label>
                      </div>
                      {{#if brooklyn.sub_neighborhood}}
                      {{#each brooklyn.sub_neighborhood as |sub|}}
                      <div class="custom-control custom-checkbox ml-4">
                        <input name='searchElement' class="custom-control-input" type="checkbox" value="building[neighborhood]={{sub.name}}" id="{{sub.name}}"/>
                        <label class="custom-control-label" for="{{sub.name}}">{{sub.name}}</label>
                      </div>
                      {{/each}}
                      {{/if}}
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
