{{> nav}}
<h2 class="mt-4" style="text-align: center">{{unit.building.street_address}}, Unit {{unit.unit_num}}</h2>
<div id="edit-link">
    <button
      type="button"
      class="btn btn-primary"
      id="edit-listing"><a href="/edit-listing">Edit This Listing</a></button>
</div>

<section id="listing-images">
    <img src="/images/general/placeholder-image.png" alt="selected-photo" id="selected-photo">
    <div id="carousel">
        <img src="/images/general/placeholder-image.png" alt="selected-photo" class="carousel-pic">
        <img src="/images/general/placeholder-image.png" alt="selected-photo" class="carousel-pic">
        <img src="/images/general/placeholder-image.png" alt="selected-photo" class="carousel-pic">
    </div>
</section>

<section id="primary-info">
    <p>Status: {{unit.status}}</p>
    <p>{{unit.building.street_address}}, Unit {{unit.unit_num}}</p>
    <p>Gross Rent: {{unit.gross_rent}}</p>
    <p>Months Free: {{unit.months_free}}</p>
    <p>Net Rent: {{unit.net_rent}}</p>
    <p>Lease Term: {{unit.lease_term}}</p>
    <p>OP: {{unit.op}}</p>
    <p>Market As: {{unit.market_as}}</p>
    <p>Move-in: {{format_date unit.move_in}}</p>
    <p>Access: {{unit.access}}</p>
</section>

<section id="unit-info">
    <p>Size: {{unit.size}} sq ft</p>
    <p>Bedrooms: {{unit.legal_beds}}</p>
    <p>Total Rooms: {{unit.total_rooms}}</p>
    <p>Bathrooms:</p> 
    <p>Full: {{unit.full_bath}}</p>
    <p>Half: {{unit.half_bath}}</p>
</section>
<section id="unit-amenities">
    {{#if unit.unit_amenities.balcony}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Balcony</p>
    {{/if}}
    {{#if unit.unit_amenities.garden}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Garden</p>
    {{/if}}
    {{#if unit.unit_amenities.private_roof}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Private Roof</p>
    {{/if}}
    {{#if unit.unit_amenities.roof_rights}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Roof Rights</p>
    {{/if}}
    {{#if unit.unit_amenities.terrace}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Terrace</p>
    {{/if}}
    {{#if unit.unit_amenities.central_air}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Central Air</p>
    {{/if}}
    {{#if unit.unit_amenities.dishwasher}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Dishwasher</p>
    {{/if}}
    {{#if unit.unit_amenities.fireplace}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Fireplace</p>
    {{/if}}
    {{#if unit.unit_amenities.hardwood_floors}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Hardwood Floors</p>
    {{/if}}
    {{#if unit.unit_amenities.washer_dryer}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Washer/Dryer</p>
    {{/if}}
    {{#if unit.unit_amenities.city_view}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>City View</p>
    {{/if}}
    {{#if unit.unit_amenities.garden_view}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Gaden View</p>
    {{/if}}
    {{#if unit.unit_amenities.park_view}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Park View</p>
    {{/if}}
    {{#if unit.unit_amenities.garden_view}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Gaden View</p>
    {{/if}}
    {{#if unit.unit_amenities.water_view}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Water View</p>
    {{/if}}
</section>
<section id='building-amenities'>
    <p>{{unit.building.building_amenities.gym}}</p>
    {{#if unit.building.building_amenities.gym}}
        <p><img src="/images/checkmark.jpeg" alt='checkmark' class='amenity-icon'>Gym</p>
    {{/if}}
</section>
