{{> nav}}

<div class="main-card light-box d-flex justify-content-center align-items-center hide">
    <div class="inner-lightbox">
        <div id="carouselExampleControls" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
            {{#each unit.image as |image|}}
                {{#if @first}}
                <img src="{{this}}" class="carousel-item active lb-controls">
                {{else}}
                <img src="{{this}}" class="carousel-item">
                {{/if}}
            {{/each}}
            </div>
            <a class="carousel-control-prev lb-controls" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon lb-controls" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next lb-controls" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon lb-controls" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="container main-card mt-5 unit-body">
    <div class="card address-input m-2 p-0 inner-card">
        <div class="card-body container agent-reg-card p-3">
            <div class="row text-center text-lg-left">
                <div class="col-12 col-lg-6 mb-2">
                    <h2>{{unit.building.street_address}} #{{unit.unit_num}}</h2>
                    <h3>NET: <b>${{unit.net_rent}}</b> | GROSS: ${{unit.gross_rent}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 mb-2 p-0">
                    <div id="carouselExampleControls" class="carousel slide slider" data-interval="false">
                        <div class="carousel-inner slider-inner">
                        {{#each unit.image as |image|}}
                            {{#if @first}}
                            <img src="{{this}}" class="carousel-item active slider-item">
                            {{else}}
                            <img src="{{this}}" class="carousel-item slider-item">
                            <div class="card-img-overlay rent-bar d-flex justify-content-center align-items-center">
                                <span class="status-banner">{{to_upperCase ../unit.status}}</span>
                            </div>
                            {{/if}}
                        {{/each}}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-5 pr-0 pl-lg-5">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex mt-3">
                                <span class="weight"><b>Size:</b></span>
                                {{#if unit.size}}
                                <span class="ml-2">{{unit.size}} ft<sup>2</sup></span>
                                {{/if}}
                            </div>
                            <div class="d-flex mt-3">
                                <span class="weight"><b>Full Baths:</b></span>
                                <span class="ml-2">{{unit.full_bath}}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-flex mt-3">
                                <span class="weight"><b>Rooms:</b></span>
                                <span class="ml-2">{{unit.total_rooms}}</span>
                            </div>
                            <div class="d-flex mt-3">
                                <span class="weight"><b>Full Baths:</b></span>
                                <span class="ml-2">{{unit.half_bath}}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="d-flex mt-3">
                                <span class="weight"><b>Beds:</b></span>
                                <span class="ml-2">{{unit.legal_beds}}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <span class="weight"><b>Unit Amenities</b></span>
                        </div>
                        {{#if unit.unit_amenities.balcony}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Balcony</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.garden}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Garden</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.private_roof}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Private Roof</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.roof_rights}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Roof Rights</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.terrace}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Terrace</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.central_air}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Central Air</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.dishwasher}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Dishwasher</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.fireplace}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Fireplace</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.hardwood_floors}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Hardwood Floors</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.washer_dryer}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Washer/Dryer</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.city_view}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>City View</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.garden_view}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Gaden View</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.park_view}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Park View</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.garden_view}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Gaden View</span>
                        </div>
                        {{/if}}
                        {{#if unit.unit_amenities.water_view}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Water View</span>
                        </div>
                        {{/if}}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 mb-4">
                            <span class="weight"><b>Building Amenities</b></span>
                        </div>
                        {{#if unit.building.building_amenities.pets_allowed}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Pets Allowed</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.roof}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Roof</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.courtyard}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Courtyard</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.concierge}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Concierge</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.doorman}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Doorman</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.elevator}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Elevator</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.laundry}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Laundry</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.children_playroom}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Children's Playroom</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.gym}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Gym</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.media_room}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Media Room</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.recreation_room}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Recreation Room</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.swimming_pool}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Swimming Pool</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.live_in_super}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Live-in Super</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.smoke_free}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Smoke-free</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.wheelchair_access}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Wheelchair Access</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.garage_parking}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Garage Parking</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.valet_parking}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Valet Parking</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.bike_room}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Bike Room</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.cold_storage}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Cold Storage</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.locker_cage}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Locker Cage</span>
                        </div>
                        {{/if}}
                        {{#if unit.building.building_amenities.package_room}}
                        <div class="col-4 p-0 mb-3 d-flex align-items-start">
                            <i class="fas fa-check mr-2 amenities-check"></i>
                            <span>Package Room</span>
                        </div>
                        {{/if}}
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex mt-3">
                            <span class="weight"><b>OP:</b></span>
                            <span class="ml-2">{{unit.op}}</span>
                        </div>
                        <div class="col-12 col-md-6 d-flex mt-3">
                            <span class="weight"><b>Type:</b></span>
                            <span class="ml-2">{{unit.market_as}}</span>
                        </div>
                        <div class="col-12 col-md-6 d-flex mt-3">
                            <span class="weight"><b>Months Free:</b></span>
                            <span class="ml-2">{{unit.months_free}}</span>
                        </div>
                        <div class="col-12 col-md-6 d-flex mt-3">
                            <span class="weight"><b>Lease Term:</b></span>
                            <span class="ml-2">{{unit.lease_term}}</span>
                        </div>
                        <div class="col-12 col-md-6 d-flex mt-3">
                            <span class="weight"><b>Move-in:</b></span>
                            <span class="ml-2">{{format_date unit.move_in}}</span>
                        </div>
                        <div class="col-12 col-md-6 d-flex mt-3">
                            <span class="weight"><b>Access:</b></span>
                            <span class="ml-2">{{unit.access}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col d-flex flex-column">
                    <span class="weight mb-4"><b>Additional Information:</b></span>
                    <p>{{unit.desc}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 mb-4">
                    <span class="weight"><b>Transportation</b></span>
                    {{#each unit.building.trains as |train|}}
                    <div class="row">
                        <div class="col-3 col-lg-2 p-0 mt-3">
                            {{#each train.station_lines as |line|}}
                            <img src="/images/trains/{{to_lowerCase line}}.svg" alt="{{line}} train" class="train-icon">
                            {{/each}}
                        </div>
                        <div class="col-7 col-lg-3 p-0 mt-3">
                            <span class="weight"><b>{{train.name}}</b></span>
                        </div>
                        <div class="col-2 col-lg-1 p-0 mt-3">
                            <span>{{round_distance train.distance}} mi</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edit-footer d-flex justify-content-center justify-content-lg-end mt-5 p-5">
    <a href="/edit-listing/units/{{unit.id}}">
        <button type="button" class="btn btn-outline-light">Edit This Listing</button>
    </a>
</div>


<script src='/js/unitView.js'></script>
